@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
  left: 0%;
}

a:hover {
  background-color:white;
  color: black;
}

.previous {
  background-color:white;

  color: black;
}
.header {
  position: fixed;
  height: 80px;
  width: 100%;
  z-index: 100;
  padding: 0 20px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 100;
}
.nav {
  width: auto;
  background-color:white;

  width: 100%;
  margin: 0 auto;
}
.nav,
.nav_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
 
}
.nav_logo,
.nav_link,
.button {
  color: black;
}
element.style {
    height: 50px;
    width: auto;
}
.nav_item {
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
}
.nav_logo {
    cursor: pointer; 
    -webkit-transition: -webkit-transform 0.3s ease; 
    transition: -webkit-transform 0.3s ease; 
    -o-transition: transform 0.3s ease; 
    transition: transform 0.3s ease; 
    transition: transform 0.3s ease, -webkit-transform 0.3s ease; 
}

.nav_logo:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); 
}
.nav_link:hover {
  color: #d9d9d9;
}
.button {
  padding: 6px 24px;
  border: 2px solid black;
  background: transparent;
  border-radius: 6px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.button:active {
  -webkit-transform: scale(0.98);
      -ms-transform: scale(0.98);
          transform: scale(0.98);
}
.button:hover{
    background-color: black;
    color:#d9d9d9;
}

/* Home */
.home {
  position: relative;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.home::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.home.show::before {
  opacity: 1;
  pointer-events: auto;
}
/* From */
.form_container .form_container1 {
  position: fixed;
  max-width: 350px;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1.2);
      -ms-transform: translate(-50%, -50%) scale(1.2);
          transform: translate(-50%, -50%) scale(1.2);
  z-index: 101;
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1);
          box-shadow: rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.home.show .form_container .form_container1{
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}
.signup_form {
  display: none;
}
.form_container.active .profile_form {
  display: block;
}
.form_container.active .reset_form {
  display: none;
}
.form_close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #0b0217;
  font-size: 22px;
  opacity: 0.7;
  cursor: pointer;
}

.form_container .form_container1 h2 {
  font-size: 22px;
  color: #0b0217;
  text-align: left;
}
.input_box {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: 40px;
}
.input_box input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  padding: 0 30px;
  color: #333;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-bottom: 1.5px solid #aaaaaa;
}
.input_box input:focus {
  border-color: #7d2ae8;
}
.input_box i {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 20px;
  color: #707070;
}
.input_box i.email,
.input_box i.text,
.input_box i.password {
  left: 0;
}
.input_box input:focus ~ i.email,
.input_box input:focus ~ i.text,
.input_box input:focus ~ i.password {
  color: #7d2ae8;
}
.input_box i.pw_hide {
  right: 0;
  font-size: 18px;
  cursor: pointer;
}
.option_field {
  margin-top: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.form_container .form_container1 a {
  color: #7d2ae8;
  font-size: 12px;
}
.form_container .form_container1 a:hover {
  text-decoration: underline;
}
.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  white-space: nowrap;
}
.checkbox input {
  accent-color: #7d2ae8;
}
.checkbox label {
  font-size: 12px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #0b0217;
}
.form_container .form_container1 .button {
  background: #7d2ae8;
  margin-top: 30px;
  width: 100%;
  padding: 10px 0;
  border-radius: 10px;
}
.login_signup {
  font-size: 12px;
  text-align: center;
  margin-top: 15px;
}
.hero {
 
  background-size: cover;
  background-position: center;
  color: #fff;
  background-color: #f8f9fa;
  padding: 100px 0;
  text-align: center;
}

.hero h2 {
  font-size: 36px;
  margin-bottom: 20px;
}



/* Services section styles */
.services {
  background-color: #fff;
  padding: 80px 0;
  text-align: center;
}

.services h2 {
  font-size: 32px;
  margin-bottom: 40px;
}

.service-item {
  margin-bottom: 30px;
}

.service-item h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

/* Pricing section styles */
.pricing {
  background-color: #f8f9fa;
  padding: 80px 0;
  text-align: center;
}

.pricing h2 {
  font-size: 32px;
  margin-bottom: 40px;
}

.pricing-plans {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.plan {
  padding: 20px;
  margin: 0 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 300px;
}

.plan h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

/* About section styles */
.about {
  padding: 80px 0;
  text-align: center;
}

.about h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

/* Contact section styles */
.contact {
  background-color: #f8f9fa;
  color: black;
  padding: 80px 0;
  text-align: center;
}

.contact h2 {
  font-size: 32px;
  margin-bottom: 40px;
}

.contact p {
  font-size: 18px;
  margin-bottom: 20px;
}

/* Footer styles */
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  width: max-content;
}

