.home {
    width: 100%;
}

.project-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

.project-details-label {
    flex: 0 0 30%;
    font-weight: bold;
}

.project-details-info {
    flex: 0 0 65%;
}

.project-members {
    display: flex;
    justify-content: space-between;
}

.project-members-left,
.project-members-right {
    flex: 0 0 48%;
}

table,table2 {
    text-align: center;
    margin-bottom: 20px !important;
    display: -webkit-inline-box;
    background-color: white;
}
th{
    padding: 15px;
    padding-top: 0px!important;
}
#add-button {
    padding: 0.5rem 1rem;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#member-id {
    width: calc(100% - 120px);
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 1rem;
}
#activity-name {
    width: calc(100% - 120px)!important;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 1rem;
}
.delete1{
    cursor: pointer; 
}
